@{
    if (ViewBag.Title == null)
    {
        ViewBag.Title = "Message";
    }

    if (ViewBag.Layout != null)
    {
        Layout = ViewBag.Layout;//"~/Views/Shared/_LayoutPageManager.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>@ViewBag.Message</h2>
<br />
<button onclick="window.location.href='/Home/Index'">Go Home</button>

