@{
    ViewBag.Title = "JobApplicationSuccess";
    Layout = "~/Views/Shared/_LayoutPageCandidate.cshtml";
}

<h2>You have successfully applied to selected jobs .. !  <br /> You can view their status in job status view </h2> 
