<?xml version="1.0"?>
<configuration>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>Py0uKheJON05tVzcgN+eu4QDwo6/1ikeYmFE+3esGgtvMbNMJfVhpCbEVQXcZhSpsnCOSAvlviiyGlCz/I2+ZuA9Z8kpPNAYjuQ6XEl2M7d6yxkhuMm5vwZAU8nnjT42npigkxRrFuMmFsMJb0gcHwIdb/j4qswmneTt+o6TmMk=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>1CS3+waLDC3t9vLet+iHcT8hKaGnhGjxhP7G/Sfmevrkcw8xWoO0ZSZUuI4N7In1swzKpd3rA+TCWGsNuAADZY00t24IImZOG2qhV1mYxoybiX3PCdItcQSHAaAoHkYxvRU+yHRPTjjl030lSAM1F5btUjft6/ecUiGq3OAr9Q73JwdEapnPYkg19WL9wjEkI+J83PAPvRJ6o/WdbXblrfQuny93CDVCG/EojUkgkkw+lSHQ44s+7LTo5y3s4v97yggwjNYLliOlMrHDFpGd2hlYYdbQkiiIU1TP9dbE+lns+wUGX+DD6yl6COrk1tlFBNMsPDMu4WA/8IgUprEPPP9ZqH62+1VxP5qjRVKo24ehq9sLQTGLHDcUVyxHX1Ek</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service name="IntellectTechWS.UserNameValidation">
        <endpoint address="" binding="webHttpBinding"
                  bindingConfiguration="webHttpBindingWithJsonP" contract="IntellectTechWS.IUserNameValidation"
                  behaviorConfiguration="webHttpBehavior"/>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
