<?xml version="1.0"?>
<configuration>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>HWYq5OrVMy3nEQxoiuvYkiGtaUCb8WnXGRk8FHyCCSJgfbowmGo3iM0ezwzRMw8cc/vu1AV1Vxtwzps6v10yQjSWLe//eXz5RLIfN49MSWYt33So0gFr/1Nvj0OwHGp6UYuXhJ9got+V8Rb43gIUp6gmNkXVTebx4po1nCSbX14=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>mIXLwZCUIFae6JR5ERHV7+m3zbuz7mhB1es/d8bjyDSF3HMsbLVKM1qu0f1G2Bk4XwHm+hm60l5+6YwjM8HMBlJaSeCTMCSnlA0jF+hf7w+0qEiyuyd7ClKzYULIgz8K75yldihvou9836Wh5YRVWuGvjI13yQ9Jy0qTnP+ZQHqoOylzvUctdJM5vCtJS9QE7nzzDeW5/YW4Sl6kIUbemlJ1DyJAakH06aoIgUBYA7iAwyKKgZgQ6jr095/OeOOX5G5KPeYl4GFDS1AqWBR9EHqc48qp2a+oZxR/Nc0TVg8GHqJzIZULV6V0IIdM9CjJzfZ2trHCd8LrlFSM4uvt7RmiIb5Qpvpby0RDWXywwgDKtRcbN1ojRvs6oW4T6YyauQQzEpEFyN7bgP2W6JzKfJtN6VMd3Gh+</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service name="IntellectTechWS.UserNameValidation">
        <endpoint address="" binding="webHttpBinding"
                  bindingConfiguration="webHttpBindingWithJsonP" contract="IntellectTechWS.IUserNameValidation"
                  behaviorConfiguration="webHttpBehavior"/>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
