@{
    ViewBag.Title = "Contact Us";
    
    if(ViewBag.Layout.Equals(""))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = ViewBag.Layout;
    }
    
}

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>1900-1400-1200</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>1900-1400-2400</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span>Support@intellecttech.com</span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span>Marketing@intellecttech.com</span>
    </p>
    <p>
        <span class="label">General:</span>
        <span>General@intellecttech.com</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        VCSSI, Bagmane world technology center<br />
        KR Puram-Marathalli outer ring road  <br />
        Mahadevpura, Bangalore, India.
    </p>
</section>